body {
   /* font-family: "Cormorant Garamond", serif; */
   font-family: "EB Garamond", serif;
   overflow-x: hidden;
}
p {
   display: block;
   margin-block-start: 0em;
   margin-block-end: 0em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
}
.container {
   width: 90%;
   margin: auto;
}
/* Bg-slider */
.bg-slider {
   overflow: hidden;
   width: 1080px;
   height: 700px;
   position: relative;
}
.slider-wrapper {
   display: flex;
   transition: transform 0.5s ease-in-out;
   align-items: center;
}
.slider-image {
   width: 100%;
   height: 100%;
   object-fit: contain;
}
@media screen and (max-width: 768px) {
   .infinite-slider {
      height: 200px;
   }

   .slider-image {
      width: 30vw;
      height: auto;
      object-fit: contain;
      margin-right: 50px;
   }
}

/* About Us section */
#about-us {
   margin-top: 6%;
}
.about-us {
   display: flex;
   flex-direction: row;
}
.about-us .right {
   float: right;
   width: 60%;
   font-size: 30px;
   font-weight: 400;
   line-height: 22px;
   text-align: right;
}
.about-us .left {
   float: left;
   width: 50%;
   font-size: 30px;
   font-weight: 400;
   line-height: 22px;
}

/* Infinite_slider */
.infinite-slider {
   margin-top: 6%;
   overflow: hidden;
   width: 100%;
   height: fit-content;
   position: relative;
   border: 0.1px solid rgba(52, 52, 52, 0.2);
}
.slider-wrapper {
   display: flex;
   transition: transform 0.5s ease-in-out;
   align-items: center;
   padding: 55px 0;
}
.slider-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   margin-right: 150px;
}
@media screen and (max-width: 768px) {
   .infinite-slider {
      height: 200px;
   }

   .slider-image {
      width: 30vw;
      height: auto;
      object-fit: contain;
      margin-right: 50px;
   }
}

/* News */
#news {
   margin: 6% 0;
}
.row-of-two {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 49.5vh;
   margin-bottom: 1%;
}
.big-child {
   width: 100%;
   height: 49.5vh;
}
.big-child img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.left {
   float: left;
   width: 49.5%;
}
.right {
   float: right;
   width: 49.5%;
}
.left img,
.right img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.parent {
   display: flex;
   flex-direction: column;
   height: 100vh;
   justify-content: space-between;
}
/* Card */
#card {
   width: 21.5vw;
}
.card {
   width: 21.5vw;
   aspect-ratio: 0.6;
   border: 0.1px solid #e5e7eb;
   margin-bottom: 15px;
   position: relative;
   transition: 0.1s;
   transform: 0.3s;
}
.card img {
   width: 100%;
   aspect-ratio: 1/1;
   object-fit: cover;
}
.card img:hover {
   width: 105%;
   aspect-ratio: 105/100;
   transition: 0.3s;
   margin-left: -2.5%;
}
.card:hover {
   transition: 1.5s;
   /* box-shadow: 0.5px 0.5px 0.5px #888888; */
   border: 0.3px solid #b8b8b8;
   transform: 0.3s;
}
.card h3 {
   font-weight: 700;
   line-height: 22.5px;
   font-size: 20px;
   color: rgba(52, 52, 52, 0.7);
   height: 100%;
}
.card .description {
   font-weight: 400;
   line-height: 18px;
   font-size: 20.25px;
   color: rgba(52, 52, 52, 0.7);
   height: 100%;
}
.card-details {
   height: 50px;
   align-items: center;
   padding: auto;
   display: flex;
   width: 100%;
}
.card .price,
.card .volume {
   font-weight: 400;
   font-size: 20px;
   line-height: 22.5px;
   color: #343434;
   width: fit-content;
   margin: 0;
}
.card .price {
   margin-right: auto;
}
.card .volume {
   margin-left: auto;
   letter-spacing: 0.02em;
}
.card-favorite {
   background-color: transparent;
   border: none;
   cursor: pointer;
   outline: none;
   position: absolute;
   float: right;
   top: 0;
   width: fit-content;
   color: rgba(52, 52, 52, 0.3);
   width: 36px;
   height: 36px;
   z-index: 300;
}

.heart-icon {
   font-size: 2rem;
   color: grey;
   transition: color 0.3s;
}

.favorite-button:hover .heart-icon {
   color: red;
}

.active .heart-icon {
   color: red;
}

/* catalog */
.catalog {
   display: flex;
   flex-wrap: wrap;
   /* width: 100%; */
   justify-content: space-between;
   margin-top: 50px;
   /* height: fit-content; */
}
#catalog {
   margin-top: 6%;
}
.catalog {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}
@media screen and (max-width: 768px) {
   .card {
      width: 100%;
      aspect-ratio: 0.55;
      text-align: center;
   }
   #card {
      width: 48%;
   }
   .card h3 {
      font-size: 14px;
      line-height: 12px;
      margin-top: 30px;
   }
   .card .description {
      font-size: 12px;
   }
   .card .price {
      font-size: 14px;
      line-height: 10px;
   }
   .card .volume {
      font-size: 8px;
      line-height: 10px;
   }
}
#catalog h1 {
   font-size: 30px;
   font-weight: 400;
   line-height: 22px;
   letter-spacing: 0.02em;
   color: #343434;
}
#catalog .link {
   text-decoration: none;
   float: right;
   font-size: 30px;
   font-weight: 400;
   line-height: 22px;
   color: #90710b;
   margin: 50px 0;
}
#catalog .link:hover {
   color: rgb(194, 136, 29);
   transition: 0.1s;
}

/* footer */
#footer {
   margin-top: 1%;
}
.footer {
   display: flex;
   flex-direction: row;
   width: 100%;
   align-items: center;
   padding: 5% 0 2%;
}

.nav {
   float: left;
   width: 33%;
   display: flex;
   flex-direction: row;
   justify-content: start;
}
.nav a {
   font-size: 20px;
   font-weight: 400;
   line-height: 22px;
   color: #343434;
   text-decoration: none;
   margin-right: 25px;
}
.nav a:hover {
   color: #90710b;
   transition: 0.1s;
}
.sm {
   width: 33%;
   text-align: end;
   display: inline-block;
   flex-direction: row;
   align-items: center;
   text-decoration: none;
   padding-left: auto;
}
.sm p {
   font-size: 20px;
   font-weight: 400;
   line-height: 22.5px;
   margin-bottom: 1em;
   color: #343434;
}
.buttons {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 130px;
   margin-right: 0;
   float: right;
}
.buttons img {
   transition: transform 0.2s;
   width: 26px;
   aspect-ratio: 1;
   object-fit: cover;
}

.buttons img:hover {
   transform: scale(1.2); /* You can adjust the scale factor as needed */
   transform-origin: center center; /* This will make the expansion happen from the center */
}
.logo {
   width: 33%;
   margin: auto;
   text-align: center;
   align-items: center;
}
.logo p {
   margin-top: 20px;
   font-size: 14px;
   line-height: 15.75px;
   font-weight: 400;
   color: rgba(52, 52, 52, 0.5);
}
