body {   /* font-family: "Cormorant Garamond", serif; */
   font-family: "EB Garamond", serif;
   overflow-x: hidden;
   min-height: 100vh;
}
p {
   display: block;
   margin-block-start: 0em;
   margin-block-end: 0em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
}
.container {
   width: 90%;
   margin: 0 auto;
}
/* Width and height for the scrollbar track */
::-webkit-scrollbar {
   width: 5px;
   height: 5px;
   transition: 3.5s;
   border-radius: 50px;
   background-color: #90710b;
}

/* Handle on hover and active state */
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
   background-color: #90710b;
   border-radius: 5px;
}

/* Track color */
::-webkit-scrollbar-track {
   background-color: #f1f1f1;
}

/* navigation */
.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.3); /* 30% black overlay */
   z-index: 4; /* Adjust the z-index as needed */
}

.navigation {
   padding: 1.75% 0 1.75%;
   height: 100px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.navigation button {
   background-color: #fff;
   border: none;
}
.navigation button {
   width: 100px;
   text-align: left;
   padding: 0;
}
.navigation button img {
   padding: 0;
}
.navigation .icons {
   width: 100px;
   text-align: right;
}
.navigation .icons button {
   width: fit-content;
   cursor: pointer;
}
.logotype {
   margin: auto;
}
.burger img {
   width: 20px;
}
#menu {
   padding-left: 2.9%;
   width: 42%;
   height: 100vh;
   position: fixed;
   background-color: #fff;
   z-index: 5;
   top: 0;
}
.menu {
   top: 0;
   position: absolute;
   display: flex;
   flex-direction: column;
   text-decoration: none;
   width: 80%;
   height: 92.96vh;
   justify-content: space-between;
}
.menu .open-close {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   margin: 10.6% 0;
}
.menu .logotype {
   margin: 15% 0 0;
}
.menu button {
   background-color: transparent;
   border: none;
   text-align: left;
   padding: 0;
}
.menu a {
   text-decoration: none;
}
.navigation-header {
   display: flex;
   flex-direction: column;
   height: 90vh;
}
.navigation-header a {
   margin-bottom: 6%;
}
.adress {
   margin: 7% 0 0 0;
}
.title-header {
   font-size: 20px;
   font-weight: 400;
   line-height: 22px;
   color: #343434;
   text-decoration: none;
}
.desc-header {
   font-size: 18px;
   font-weight: 400;
   line-height: 27px;
   color: #343434;
   text-decoration: none;
}
/* Bg-slider */
.bg-slider {
   overflow: hidden;
   width: 1080px;
   height: 700px;
   position: relative;
}
.slider-wrapper {
   display: flex;
   transition: transform 0.5s ease-in-out;
   align-items: center;
}
.slider-image {
   width: 100%;
   height: 100%;
   object-fit: contain;
}
@media screen and (max-width: 768px) {
   .infinite-slider {
      height: 200px;
   }

   .slider-image {
      width: 30vw;
      height: auto;
      object-fit: contain;
      margin-right: 50px;
   }

   .logotype img {
      width: 150px;
      height: auto;
   }
   .navigation button {
      width: 80px;
      text-align: left;
      padding: 0;
   }
   .navigation .icons {
      width: 80px;
   }
   .video video {
      width: 150%;
      object-position: center;
   }
   .navigation button img {
      width: 35px;
   }
   #menu {
      padding-left: 2%;
      width: 70%;
   }
   .menu .open-close {
      margin: 18% 0;
   }
}
#tabs {
   margin-bottom: 2%;
   width: 100%;
   border: 0.3px solid rgba(52, 52, 52, 0.2);
}
.tabs {
   display: flex;
   width: 100%;
   justify-content: space-around;
   padding: 1% 0;
}
.tab {
   padding: 2px 0 5px;
   color: #343434;
   font-size: 16px;
   transition: 0.2s;
   height: 15px;
   align-items: center;
}
.tab img {
   width: 10px;
   margin-left: 3px;
}
.tab:hover {
   transform: scale(1.1);
}

/* About Us section */
#about-us {
   margin-top: 6%;
}
.about-text {
   font-size: 65px;
   line-height: 72px;
   font-weight: 400;
   width: 100%;
   text-align: center;
}
.about-us {
   display: flex;
   flex-direction: row;
   /* font-style: italic; */
   height: 100px;
   justify-content: space-between;
   width: 60%;
   margin: auto;
}
/* AboutUs.css */

@keyframes slide-in-right {
   from {
      opacity: 0;
      transform: translateX(100%);
   }
   to {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes slide-in-left {
   from {
      opacity: 0;
      transform: translateX(-100%);
   }
   to {
      opacity: 1;
      transform: translateX(0);
   }
}

.about-text {
   opacity: 0; /* Initial opacity to make elements invisible before animation */
}

.slide-in-animation {
   animation: slide-in-right 1.4s ease-out;
   opacity: 1;
}

.slide-in-animation:nth-child(even) {
   animation: slide-in-left 1.4s ease-out;
}
.about-title {
   font-size: 24px;
   text-align: center;
}
.about-title2 {
   font-size: 18px;
}

@media screen and (max-width: 768px) {
   .about-title {
      font-size: 18px;
   }
}
/* Infinite_slider */
.infinite-slider {
   margin-top: 6%;
   overflow: hidden;
   width: 100%;
   height: fit-content;
   position: relative;
   border: 0.1px solid rgba(52, 52, 52, 0.2);
}
.slider-wrapper {
   display: flex;
   transition: transform 0.5s ease-in-out;
   align-items: center;
   padding: 55px 0;
}
.slider-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   margin-right: 150px;
}
@media screen and (max-width: 768px) {
   .slider-image {
      /* height: 15px; */
      width: 20vw;
      object-fit: contain;
      margin-right: 50px;
   }
   .slider-wrapper {
      padding: 15px;
   }
}

/* News */
#news {
   margin: 6% 0;
}
.row-of-two {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 49.5vh;
   margin-bottom: 1%;
}
.big-child {
   width: 100%;
   height: 49.5vh;
}
.big-child img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.left {
   float: left;
   width: 49.5%;
}
.right {
   float: right;
   width: 49.5%;
}
.left img,
.right img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.parent {
   display: flex;
   flex-direction: column;
   height: 100vh;
   justify-content: space-between;
}
@media screen and (max-width: 768px) {
   .parent img {
      width: 100%;
      aspect-ratio: 1140/557;
      margin-bottom: 5px;
   }
   .parent {
      height: fit-content;
   }
   .row-of-two {
      height: fit-content;
      flex-direction: column;
      justify-content: space-between;
   }
   .news img {
      object-position: center;
   }
   .left,
   .right,
   .big-child {
      width: 100%;
      height: fit-content;
   }
}
/* Card */
#card {
   width: 21.5vw;
   padding-right: 0.8vw;
}
.card {
   width: 21.5vw;
   aspect-ratio: 0.6;
   border: 0.1px solid #e5e7eb;
   margin-bottom: 15px;
   position: relative;
   transition: 0.1s;
   transform: 0.3s;
   /* background-color: red; */
}
.card img {
   /* width: 100%; */
   /* aspect-ratio: 1/1; */
   margin: 20% 15%;
   height: 40%;
   object-fit: cover;
}
.card img:hover {
   /* width: 105%; */
   /* aspect-ratio: 105/100; */
   height: 50%;
   transition: 0.3s;
   margin-left: 7%;
   /* margin-right: 3.5%; */
   margin-bottom: 11.8%;
   margin-top: 11.8%;
}
.card:hover {
   transition: 0.5s;
   /* box-shadow: 0.5px 0.5px 0.5px #888888; */
   border: 0.3px solid #b8b8b8;
   transform: 0.3s;
}
.card h3 {
   font-weight: 700;
   line-height: 22.5px;
   font-size: 20px;
   color: rgba(52, 52, 52, 0.7);
   height: 100%;
}
.card .description {
   font-weight: 400;
   line-height: 18px;
   font-size: 20.25px;
   color: rgba(52, 52, 52, 0.7);
   height: 100%;
}
.card-details {
   height: 50px;
   align-items: center;
   padding: auto;
   display: flex;
   width: 100%;
}
.card .price,
.card .volume {
   font-weight: 400;
   font-size: 20px;
   line-height: 22.5px;
   color: #343434;
   width: fit-content;
   margin: 0;
}
.card .volume {
   color: rgba(52, 52, 52, 0.3);
}
.card .price {
   margin-right: auto;
}
.card .volume {
   margin-left: auto;
   letter-spacing: 0.02em;
}
.logistics {
   margin-top: 15px;
   font-size: 18px;
   width: 100%;
   text-align: right;
}

/* catalog */
.catalog {
   display: flex;
   flex-wrap: wrap;
   /* width: 100%; */
   justify-content: flex-start;
   margin-top: 50px;
   /* height: fit-content; */
}
/* #full {
   justify-content: flex-start;
} */
#catalog-section {
   margin-top: 6%;
}
.catalog {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}
#catalog-section .link {
   text-decoration: none;
   float: right;
   font-size: 30px;
   font-weight: 400;
   line-height: 22px;
   color: #90710b;
   margin: 50px 0;
}
@media screen and (max-width: 768px) {
   #catalog-section {
      margin-top: 30%;
      width: 100vw;
   }
   #catalog-section a {
      width: 50%;
      /* margin-right: 5%; */
      text-align: center;
   }
   #catalog-section .card {
      width: 100%;
      aspect-ratio: 0.55;
      text-align: center;
      min-height: 400px;
   }
   .card img {
      margin: 25px auto;
   }
   #catalog-section #card {
      /* width: 180px; */
      width: 98%;
      padding-right: 0;
   }
   #card {
      width: 49%;
      text-align: center;
   }
   .card {
      width: 100%;
   }
   .card h3 {
      font-size: 14px;
      line-height: 12px;
      margin-top: 0px;
   }
   .card .description {
      font-size: 12px;
   }
   .card .price {
      font-size: 14px;
      line-height: 10px;
   }
   .card .volume {
      font-size: 8px;
      line-height: 10px;
   }
   .catalog {
      justify-content: flex-start;
   }
   #catalog-section .link {
      font-size: 22px;
      margin: 0;
      text-align: right;
   }
}
#title {
   font-size: 30px;
   font-weight: 400;
   line-height: 22px;
   letter-spacing: 0.02em;
   color: #343434;
}

#catalog .link:hover {
   color: rgb(194, 136, 29);
   transition: 0.1s;
}

/* blog */

.blogs {
   width: auto;
   display: flex;
   flex-wrap: nowrap;
   overflow-x: auto;
   margin-top: 3%;
}
.blogs-div {
   margin-top: 10%;
}
.blog {
   width: fit-content;
   margin-right: 20px;
   display: flex;
   flex-direction: column;
}
.blog .blog-img {
   height: 80vh;
   width: 50vw;
   object-fit: cover;
}
.link-to-blog {
   border: 1px solid #343434;
   border-radius: 5px;
   padding: 22px 30px;
   margin: 40px 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: 30px;
   font-weight: 400;
   line-height: 25px;
}
.link-to-blog p {
   text-decoration: none;
   max-width: 973px;
}
.close {
   margin: 1% 0;
   background-color: #fff;
   padding: 10px 25px;
   font-size: 14px;
   border: 0.3px solid #ffffff;
   font-size: 16px;
   font-family: "EB Garamond", serif;
   color: #ffffff;
   background-color: #000;
}
.details {
   font-size: 18px;
   line-height: 22px;
   font-weight: 400;
}
@media screen and (max-width: 768px) {
   .blog .blog-img {
      height: 50vh;
      width: 120vw;
      object-fit: cover;
      object-position: bottom;
   }
   .link-to-blog {
      padding: 15px 15px;
      margin: 20px 0;
      font-size: 24px;
      font-weight: 400;
      line-height: 18px;
   }
}
/* footer */
#footer {
   margin-top: 1%;
   bottom: 0;
}
.footer {
   display: flex;
   flex-direction: row;
   width: 100%;
   align-items: center;
   padding: 5% 0 2%;
}
.nav {
   float: left;
   width: 33%;
   display: flex;
   flex-direction: row;
   justify-content: start;
}
.nav a {
   font-size: 20px;
   font-weight: 400;
   line-height: 22px;
   color: #343434;
   text-decoration: none;
   margin-right: 25px;
}
.nav a:hover {
   color: #90710b;
   transition: 0.1s;
}
.sm {
   width: 33%;
   text-align: end;
   display: inline-block;
   flex-direction: row;
   align-items: center;
   text-decoration: none;
   padding-left: auto;
}
.sm p {
   font-size: 20px;
   font-weight: 400;
   line-height: 22.5px;
   margin-bottom: 1em;
   color: #343434;
}
.buttons {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   /* width: 130px; */
   width: 87px;
   margin-right: 0;
   float: right;
}
.buttons img {
   transition: transform 0.2s;
   width: 26px;
   aspect-ratio: 1;
   object-fit: cover;
}

.buttons img:hover {
   transform: scale(1.2); /* You can adjust the scale factor as needed */
   transform-origin: center center; /* This will make the expansion happen from the center */
}
.logo {
   width: 33%;
   margin: auto;
   text-align: center;
   align-items: center;
}
.logo p {
   margin-top: 20px;
   font-size: 14px;
   line-height: 15.75px;
   font-weight: 400;
   color: rgba(52, 52, 52, 0.5);
}
@media screen and (max-width: 768px) {
   .nav {
      flex-direction: column;
      width: 80px;
      height: 80px;
      justify-content: space-between;
   }
   .nav a {
      font-size: 14px;
      line-height: 18px;
      margin-right: 0;
   }
   .sm {
      width: 80px;
      text-align: center;
      flex-direction: column;
      text-align: right;
   }
   .sm p {
      font-size: 12px;
      line-height: 18px;
   }
   .buttons {
      flex-direction: row;
      width: 60px;
      /* width: 90px; */
   }
   .buttons img {
      width: 22px;
   }
   .logo {
      width: 120px;
   }
   .logo img {
      width: 100%;
   }
   .logo p {
      margin-top: 20px;
      font-size: 12px;
      line-height: 15.75px;
      font-weight: 400;
      color: rgba(52, 52, 52, 0.5);
   }
}
/* filter */
.search-icon {
   display: flex;
   width: fit-content;
   float: right;
   align-items: center;
   text-align: right;
}
.search-icon img {
   cursor: pointer;
   transition: 0.3s;
   float: right;
   width: 40px;
}
.search-icon img:hover {
   transform: scale(1.1);
}
.admin-password {
   margin: auto;
   display: flex;
   padding: 5px 25px;
   border: 0.3px solid rgba(0, 0, 0, 0.3);
   width: 450px;
   font-family: "EB Garamond", serif;
   transition: 0.5s;
}
.filter {
   border: 1px solid #e5e7eb;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 3% 5%;
   align-items: center;
   margin-top: 15px;
}
.filter-h3 {
   width: 10%;
   float: left;
   font-size: 30px;
   font-weight: 700;
   line-height: 33.75px;
   text-align: center;
   display: contents;
}
.filter .form {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 60%;
   margin: 0;
   float: right;
}
.reset-filters {
   background-color: #fff;
   border: none;
   font-family: "EB Garamond", serif;
   padding: 5px 10px;
   margin-left: 25px;
   color: #90710b;
   font-size: 18px;
   cursor: pointer;
}
.type {
   display: flex;
   flex-direction: row;
   align-items: center;
   text-align: left;
}
.type h2 {
   font-size: 30px;
   font-weight: 400;
   line-height: 33.75px;
   margin-right: 30px;
   display: flex;
   flex-direction: row;
   width: fit-content;
   align-items: center;
}
.type img {
   margin: 0 5px;
}
.filter .search {
   background-color: transparent;
   border: none;
   cursor: pointer;
}
.selector {
   /* padding: 30px; */
   font-size: 20px;
   font-weight: 400;
   line-height: 33.75px;
   border: 1px solid #fff;
   display: flex;
}
option {
   font-size: 20px;
}
select {
   font-family: "EB Garamond", serif;
   font-size: 16px;
   text-align: center;
}
.selectors {
   align-items: center;
   display: flex;
   flex-direction: row;
   width: 50%;
   margin: auto;
   justify-content: space-between;
}
@media screen and (max-width: 768px) {
   .selector {
      width: 100%;
      padding: 10px;
   }
   .selectors {
      flex-direction: column;
   }
   option {
      font-size: 18px;
      font-family: "EB Garamond", serif;
   }
   input {
      margin: 0;
      padding: 5px 10px;
      width: 60%;
   }
   .reset-filters {
      margin-left: 0;
   }
}

.card-detail {
   width: 100%;
   aspect-ratio: 0.6;
   border: 0.1px solid #e5e7eb;
   margin-bottom: 15px;
   position: relative;
   transition: 0.1s;
   transform: 0.3s;
}
Link {
   text-decoration: none;
}
a {
   text-decoration: none;
}

.video {
   width: 100%;
   object-fit: cover;
   max-height: 100%;
}

.detail-page {
   display: flex;
   width: 100%;
   flex-direction: row;
}
.detail-page img {
   width: 45%;
   aspect-ratio: 1;
   max-width: 800px;
   max-height: 800px;
   max-height: 80vh;
   margin-right: 5%;
}
.detail-page .details {
   display: flex;
   flex-direction: column;
   width: 45%;
   color: #343434;
}
.detail-page .title {
   font-weight: 700;
   line-height: 45px;
   display: flex;
   flex-direction: row;
   color: #343434;
}
.detail-page h2 {
   margin: 0;
   width: 80%;
   font-size: 40px;
   color: #343434;
}
.price-gender {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-top: 30px;
   padding-bottom: 20px;
   border-bottom: 0.3px solid #343434;
}
.detail-page .detail-text-price {
   font-size: 30px;
   font-weight: 700;
   line-height: 33.75px;
   color: #343434;
   padding: 0.8vh;
   /* background-color: #e3a35b; */
   margin-right: 2vw;
}
.detail-page .detail-text-style {
   display: flex;
   font-size: 20px;
   font-weight: 400;
   line-height: 22.5px;
   color: rgba(52, 52, 52, 0.5);
   justify-content: center;
   height: 100%;
   align-items: center;
   text-transform: capitalize;
}
.detail-page .perfum-details p {
   font-size: 20px;
   line-height: 22.5px;
   font-weight: 400;
   color: rgba(52, 52, 52, 0.7);
   color: #343434;
}
.details-description p {
   margin-top: 2vh;
}
.perfum-details {
   display: flex;
   flex-direction: column;
   margin-bottom: 2vh;
   color: #343434;
   padding: 7px 0;
}
.perfum-details .title {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   border-top: 0.3px solid rgba(52, 52, 52, 0.3);
   padding: 7px 0;
}
.perfum-details .title h3 {
   margin: 0;
   cursor: pointer;
   color: #343434;
}
.perfum-details .title img {
   width: 25px;
   aspect-ratio: 1/1;
   margin: 0;
   transition: 0.3s;
   cursor: pointer;
}
.perfum-details .title img:hover {
   transform: scale(1.2);
}
.perfum-details .intense {
   margin: 0 0 2vh;
}
.volume-buttons {
   display: flex;
   flex-wrap: wrap;
   width: 80%;
   justify-content: space-between;
   padding-bottom: 8vh;
   margin: 4vh 0 0;
}
.volume-selector {
   background-color: #fff;
   border-radius: 5px;
   border: 1px solid #343434;
   color: #343434;
   font-size: 20px;
   font-weight: 700;
   line-height: 22.75px;
   padding: 10px;
   margin-bottom: 10px;
   font-family: "EB Garamond", serif;
   transition: 0.3s;
}
.volume-selector:hover {
   transform: scale(1.1);
}
.perfum-details span {
   font-weight: 700;
   color: #000;
}
.notes {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   margin-bottom: 10px;
}
.notes h4 {
   margin: 0;
   margin-right: 0.95vw;
   font-weight: 400;
}
.note {
   background-color: #fff;
   color: #343434;
   border: 1px solid #343434;
   font-size: 20px;
   font-weight: 400;
   line-height: 22.75px;
   padding: 5px;
   height: fit-content;
   font-family: "EB Garamond", serif;
   margin-right: 0.95vw;
   border-radius: 3px;
}
.note.active {
   background-color: #343434;
   color: white;
}
.note-details {
   margin-bottom: 10px;
}
.buy {
   width: 100%;
   margin-top: 1.5vh;
   align-items: center;
}
.buy-button {
   width: fit-content;
   float: right;
   background-color: #e3a35b;
   border: none;
   border-radius: 5px;
   color: #fff;
   font-family: "EB Garamond", serif;
   font-size: 22px;
   font-weight: 700;
   line-height: 24.75px;
   padding: 10px 17px;
   cursor: pointer;
   transition: 0.3s;
   align-items: center;
}
#delete {
   background-color: #343434;
   border: none;
}

@media screen and (max-width: 768px) {
   .detail-page {
      display: flex;
      width: 100%;
      flex-direction: column;
   }
   .detail-page img {
      width: 80%;
      margin: auto;
   }
   .detail-page .details {
      width: 100%;
   }
   .detail-page .title {
      width: 100%;
      margin-top: 30px;
   }
   .detail-page h2 {
      width: 80%;
      font-size: 30px;
      text-align: center;
      margin: auto;
   }
   .price-gender {
      width: 70%;
      margin: 30px auto;
      justify-content: space-between;
   }
   .detail-page .detail-text-price {
      font-size: 20px;
      line-height: 22.75px;
      margin-right: 0;
   }
   .detail-page .detail-text-style {
      font-size: 16px;
      line-height: 18px;
   }
   .detail-page .perfum-details p {
      font-size: 16px;
      line-height: 18px;
   }
   .perfum-details .title img {
      transition: 0s;
   }
   .perfum-details .title img:hover {
      transform: scale(1);
   }
   .volume-buttons {
      width: 90%;
      justify-content: space-around;
      margin: 2vh auto;
   }
   .volume-selector {
      transition: 0s;
   }
   .volume-selector:hover {
      transform: scale(1);
   }
   .notes h4 {
      font-size: 16px;
   }
   .note {
      font-size: 18px;
      line-height: 19.75px;
      padding: 7px;
      margin: 0 2vw;
   }
   .buy-button {
      width: 50%;
      transition: 0s;
   }
   .buy-button:hover {
      transform: scale(1);
   }
}

#cart {
   /* padding-left: 2.9%; */
   width: 42%;
   height: 90vh;
   position: fixed;
   z-index: 5;
   top: 0;
   right: 0;
   overflow-y: auto; /* Added to allow scrolling in #cart */
   max-height: 80vh; /* Set a max height for the cart */
   background-color: #fff;
   border: 1px solid rgba(52, 52, 52, 0.3);
}
.cart {
   top: 0;
   position: absolute;
   display: flex;
   flex-direction: column;
   text-decoration: none;
   width: 100%;
   justify-content: space-between;
   float: right;
   background-color: #fff;
   padding-top: 5vh;
   max-height: 80vh; /* Set a max height for the cart */
   position: relative;
}
.cart-content {
   max-height: 70vh; /* Set a max height for the cart */
   overflow-y: auto;
   height: 100%;
   width: 100%;
}
.cart-content h2 {
   font-size: 30px;
   line-height: 32px;
   font-weight: 400;
}
.cart .open-close {
   float: right;
   width: 10%;
}
.cart .open-close button {
   background-color: transparent;
   border: none;
   position: absolute;
   cursor: pointer;
}
.cart-item {
   display: flex;
   flex-direction: row;
   height: 20vh;
   margin: 10px 0;
   width: 100%;
   border-bottom: 0.3px solid #343434;
   padding-bottom: 20px;
   margin-bottom: 20px;
}
.cart-item img {
   width: 25%;
   aspect-ratio: 1/1;
   object-fit: cover;
   margin-right: 20px;
}
.cart-item .details {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
   width: 100%;
}
.itog {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}
.sum-child2 {
   font-size: 18px;
}
.delete {
   background-color: transparent;
   color: #90710b;
   border: none;
   height: 15px;
   top: 0;
   cursor: pointer;
}
.cart .buy-button {
   width: 100%;
   font-size: 18px;
   padding: 5px;
   border-radius: 0;
   position: sticky;
   bottom: 0;
   margin-bottom: 20px;
}
.sum {
   font-size: 24px;
   font-weight: 600;
   line-height: 26px;
   margin: 15px 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.sum-child1 {
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
}
@media screen and (max-width: 768px) {
   #cart {
      width: 90%;
   }
   .cart-content h2 {
      margin-top: -4px;
   }
   .cart-item {
      height: 12vh;
      margin-bottom: 30px;
   }
}

/* splash-screen */
.splash-screen {
   width: 100%;
   height: 70vh;
   text-align: center;
   align-items: center;
   display: flex;
   justify-content: center;
}
.splash-screen h1 {
   text-align: center;
   font-size: 60px;
}

/* admin */
#admin {
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   height: 55vh;
}
#admin label {
   margin: auto auto 0;
   font-size: 30px;
   width: 80%;
   text-align: center;
}
#admin input {
   margin: 30px auto;
   font-size: 24px;
   width: 80%;
   max-width: 450px;
}
#admin .admin-submit {
   width: 100%;
   max-width: 400px;
   margin: auto;
   background-color: #90710b;
   color: #fff;
   border: 0.3px solid #fff;
   height: 60px;
   font-family: "EB Garamond", sans-serif;
   font-size: 30px;
   /* margin-bottom: 50vh; */
   border-radius: 10px;
}
td {
   width: 400px;
   text-align: center;
   padding: 15px;
   font-size: 24px;
   border: 1px solid rgba(52, 52, 52, 0.5);
}
thead {
   height: 15vh;
   font-size: 30px;
}
@media screen and (max-width: 768px) {
   td {
      width: 150px;
      padding: 5px;
      font-size: 18px;
   }
   thead {
      font-size: 18px;
   }
   #admin {
      height: 70vh;
   }
}

/* carousel */
.carousel {
   margin-top: 3%;
}
.carousel-title {
   background-color: #f0f0f0;
   margin-top: 6%;
   padding: 15px 0;
   font-weight: 500;
   font-size: 24px;
}

#card-carousel {
   width: 14vw;
   /* padding-right: 0.8vw; */
}
#card-carousel .card {
   width: 100%;
   aspect-ratio: 0.6;
   border: 0.1px solid #e5e7eb;
   margin-bottom: 15px;
   position: relative;
   transition: 0.1s;
   transform: 0.3s;
   /* background-color: red; */
   text-align: center;
}
#card-carousel .card img {
   width: 80%;
   aspect-ratio: 2/1;
   margin: 20% 0;
   height: 50%;
   object-fit: cover;
}
#card-carousel .card img:hover {
   /* width: 105%; */
   /* aspect-ratio: 105/100; */
   height: 60%;
   transition: 0.3s;
   margin-left: 0;
   /* margin-right: 3.5%; */
   margin-bottom: 11.8%;
   margin-top: 11.8%;
}
#card-carousel .card:hover {
   transition: 0.5s;
   /* box-shadow: 0.5px 0.5px 0.5px #888888; */
   border: 0.3px solid #b8b8b8;
   transform: 0.3s;
}
#card-carousel .card h3 {
   font-weight: 700;
   line-height: 16px;
   font-size: 18px;
   color: rgba(52, 52, 52, 0.7);
   height: 100%;
}
#card-carousel .card .description {
   font-weight: 400;
   line-height: 14px;
   font-size: 16.25px;
   color: rgba(52, 52, 52, 0.7);
   height: 100%;
}
#card-carousel .card-details {
   height: 50px;
   align-items: center;
   padding: auto;
   display: flex;
   width: 80%;
   margin: auto;
}
#card-carousel .card .price,
#card-carousel .card .volume {
   font-weight: 400;
   font-size: 16px;
   line-height: 22.5px;
   color: #343434;
   width: fit-content;
   margin: 0;
}
#card-carousel .card .volume {
   color: rgba(52, 52, 52, 0.3);
}
#card-carousel .card .price {
   margin-right: auto;
}
#card-carousel .card .volume {
   margin-left: auto;
   letter-spacing: 0.02em;
}
@media screen and (max-width: 768px) {
   .carousel-title {
      font-size: 20px;
      padding: 12px;
   }
   #card-carousel {
      width: 100%;
   }
   #card-carousel .card h3 {
      font-size: 14px;
      line-height: 15.75px;
   }
   #card-carousel .card .description {
      font-size: 12px;
   }
   #card-carousel .card .price {
      font-size: 12px;
   }
   #card-carousel .card .volume {
      font-size: 12px;
   }
}
button:hover {
   cursor: pointer;
}
