body {
   /* font-family: "Cormorant Garamond", serif; */
   font-family: "EB Garamond", serif;
}
.container {
   width: 90%;
   margin: auto;
}
/* Bg-slider */
.bg-slider {
   overflow: hidden;
   width: 1080px;
   height: 700px;
   position: relative;
}
.slider-wrapper {
   display: flex;
   transition: transform 0.5s ease-in-out;
   align-items: center;
}
.slider-image {
   width: 100%;
   height: 100%;
   object-fit: contain;
}
@media screen and (max-width: 768px) {
   .infinite-slider {
      height: 200px;
   }

   .slider-image {
      width: 30vw;
      height: auto;
      object-fit: contain;
      margin-right: 50px;
   }
}

/* About Us section */
#about-us {
   margin-top: 6%;
}
.about-us {
   display: flex;
   flex-direction: row;
}
.about-us .right {
   float: right;
   width: 60%;
   font-size: 30px;
   font-weight: 400;
   line-height: 22px;
   text-align: right;
}
.about-us .left {
   float: left;
   width: 50%;
   font-size: 30px;
   font-weight: 400;
   line-height: 22px;
}

/* Infinite_slider */
.infinite-slider {
   overflow: hidden;
   width: 100%;
   height: 150px; /* Adjust height as needed */
   position: relative;
}
.slider-wrapper {
   display: flex;
   transition: transform 0.5s ease-in-out;
   align-items: center;
   padding: 55px 0;
}
.slider-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   margin-right: 150px;
}
@media screen and (max-width: 768px) {
   .infinite-slider {
      height: 200px;
   }

   .slider-image {
      width: 30vw;
      height: auto;
      object-fit: contain;
      margin-right: 50px;
   }
}

/* News */
#news {
   margin: 6% 0;
}
.row-of-two {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 49.5vh;
   margin-bottom: 1%;
}
.big-child {
   width: 100%;
   height: 49.5vh;
}
.big-child img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.left {
   float: left;
   width: 49.5%;
}
.right {
   float: right;
   width: 49.5%;
}
.left img,
.right img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.parent {
   display: flex;
   flex-direction: column;
   height: 100vh;
   justify-content: space-between;
}
/* Card */
.card {
   width: 21.5vw;
   aspect-ratio: 0.6;
   border: 0.1px solid #e5e7eb;
   margin-bottom: 15px;
   position: relative;
   transition: 0.1s;
   transform: 0.3s;
}
.card img {
   width: 100%;
   aspect-ratio: 1/1;
   object-fit: cover;
}
.card img:hover {
   width: 105%;
   aspect-ratio: 105/100;
   transition: 0.1s;
   margin-left: -2.5%;
}
.card:hover {
   /* width: 22vw; */
   /* aspect-ratio: 22/20; */
   transition: 0.1s;
   box-shadow: 0.5px 0.5px 0.5px #888888;
   transform: 0.3s;
}
.card h3 {
   font-weight: 700;
   line-height: 22.5px;
   font-size: 20px;
   color: rgba(52, 52, 52, 0.7);
}
.card .description {
   font-weight: 400;
   line-height: 18px;
   font-size: 20.25px;
   color: rgba(52, 52, 52, 0.7);
}
.card .price {
   font-weight: 400;
   font-size: 20px;
   line-height: 22.5px;
   color: #343434;
   float: left;
   width: fit-content;
   bottom: 0;
}
.card .volume {
   font-weight: 400;
   font-style: 20px;
   line-height: 22.5px;
   /* color: #343434; */
   float: right;
   width: fit-content;
   bottom: 0;
   letter-spacing: 0.02em;
}

.card-favorite {
   background-color: transparent;
   border: none;
   cursor: pointer;
   outline: none;
   position: absolute;
   float: right;
   top: 0;
   width: fit-content;
   color: rgba(52, 52, 52, 0.3);
   width: 36px;
   height: 36px;
   z-index: 300;
}

.heart-icon {
   font-size: 2rem;
   color: grey;
   transition: color 0.3s;
}

.favorite-button:hover .heart-icon {
   color: red;
}

.active .heart-icon {
   color: red;
}

/* catalog */
.catalog {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   justify-content: space-between;
   margin-top: 50px;
}
#catalog {
   margin-top: 6%;
}
#catalog h1 {
   font-size: 30px;
   font-weight: 400;
   line-height: 22px;
   letter-spacing: 0.02em;
   color: #343434;
}
#catalog .link {
   text-decoration: none;
   float: right;
   font-size: 30px;
   font-weight: 400;
   line-height: 22px;
   color: #343434;
   margin-top: 50px;
}
#catalog .link:hover {
   color: rgb(194, 136, 29);
   transition: 0.1s;
}
